$blue-000: #0067b8;
$blue-100: #005a9e;
$blue-200: #004578;
$blue-300: #243a5e;
$green-000: #107c10;
$yellow-000: #ffb900;
$red-000: #d13438;
$link-color: $blue-100;
$btn-primary-color: $blue-100;
$body-heading-color: #17253d;
$body-text-color: #323130;
$sidebar-color: #f5f7fa;
